---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.jsx';
import Footer from '../components/Footer.jsx';
import AboutHero from '../components/AboutHero.jsx';
import AboutContent from '../components/AboutContent.jsx';
import CTA from '../components/CTA.jsx';
---

<Layout title="About MicroANPR - Leading ANPR Technology Company">
  <Header client:load />
  <main>
    <AboutHero client:load />
    <AboutContent client:load />
    <CTA client:load />
  </main>
  <Footer />
</Layout>
</Layout>
