---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import HeroSection from "@/components/Hero.astro"
import Moto from '@/components/Moto.astro';
import Features from '@/components/Features.astro';
---

<Layout title="MicroALpr: Automatic Number Plate Recognition (ANPR) as a service">
	<main>
		<Moto/>
		<HeroSection />
		<Features />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
	}
</style>


