---
import Layout from "../layouts/Layout.astro";
import FeedbackForm from "../components/FeedbackForm"

---

	<Layout title="MicroANPR: Automatic Number Plate Recognition (ANPR) as a service">
	<main>
		<FeedbackForm client:load />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		margin-top: 0rem;
	}

</style>
